body {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-width: 800px;
}

a {
    color: #8ab4f8;
    text-decoration: none;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
}

.site-title {
    text-align: left;
    margin: 0;
    font-size: 2rem;
}

.site-title a {
    color: #ffffff;
}

.site-logo {
    height: 3rem;
    width: auto;
    text-align: right;
}

main {
    background-color: #ffffff;
    color: #000000;
    padding: 2rem;
}

.red {
    color: #FF0000;
}

.green {
    color: #008000;
}

/* Apply no-wrap to all columns except the last one */
#report td:not(:last-child) {
    white-space: nowrap;
}
