<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ESP-IDF Vulnerabilities</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<div class="site-header">
				<h1 class="site-title"><a href=".">ESP-IDF Vulnerabilities</a></h1>
				<img class="site-logo" src="images/espressif-logo.png" alt="Espressif Logo">
			</div>
		</header>
		<main>
			${content}
		</main>
	</body>
</html>
